@mixin centerPosition {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin displayColumn {
  display: flex;
  flex-direction: column;
}

@mixin breakpoint($bp: 0) {
  @media (max-width: $bp) {
    @content;
  }
}
