@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$font-family: 'Roboto', sans-serif;
$base-padding: 10px;
$base-margin: 30px;

//light background
$lg-background-color: #003566 !default;
$lg-bg-font-color: #ffc300 !default;
$lg-font-color: #ffc300 !default;
$lg-theme-bg: white;

//dark background
$dark-background-color: #ffc300;
$dark-bg-font-color: #003566;
$dark-font-color: #003566;
$dark-theme-bg: rgb(32, 32, 32);

//header font sizes on different screens
$header-font-size-sm: 10px;
$header-font-size-md: 18px;
$header-font-size-xl: 25px;
