@use 'variables';
@use 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include mixins.displayColumn;
  min-height: 100vh;
  background-color: variables.$lg-theme-bg;
  position: relative;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  padding: 20px;
  color: variables.$lg-font-color;
  margin-top: variables.$base-margin;
  margin-bottom: variables.$base-margin;
}

header {
  @include mixins.spaceBetween;
  width: 100%;
  min-height: 60px;
  background-color: variables.$lg-background-color;
  padding: variables.$base-padding 30px;
  font-size: variables.$header-font-size-xl;
  color: variables.$lg-font-color;

  //media queries
  @include mixins.breakpoint(480px) {
    font-size: variables.$header-font-size-sm;
  }

  @include mixins.breakpoint(760px) {
    font-size: variables.$header-font-size-md;
  }
}

.icon-container {
  @include mixins.centerPosition;
  height: 100%;
  outline: none;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.icon {
  width: 40px;
  min-height: 40px;
  fill: variables.$lg-font-color;

  @include mixins.breakpoint(480px) {
    width: 20px;
    min-height: 20px;
  }

  @include mixins.breakpoint(480px) {
    width: 30px;
    min-height: 30px;
  }
}

.sun {
  display: none;
}

main {
  @include mixins.centerPosition;
  width: 100%;
  margin-bottom: variables.$base-margin;
}
section {
  padding: variables.$base-padding;
  width: 1200px;
  overflow: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1.5rem;
  margin-top: 20px;

  //media queries
  @include mixins.breakpoint(768px) {
    width: 740px;
  }

  @include mixins.breakpoint(600px) {
    width: 560px;
  }

  @include mixins.breakpoint(480px) {
    width: 440px;
  }
}

.tool-container {
  background-color: variables.$lg-background-color;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  color: variables.$lg-font-color;
  border: 1px solid black;
  width: 250px;
  height: 200px;
  @include mixins.spaceBetween;
  gap: variables.$base-padding;

  //media queries
  @include mixins.breakpoint(900px) {
    width: 350px;
  }
  @include mixins.breakpoint(768px) {
    width: 320px;
  }
  @include mixins.breakpoint(700px) {
    width: 280px;
  }
  @include mixins.breakpoint(610px) {
    width: 100%;
  }
  @include mixins.breakpoint(480px) {
    width: 100%;
  }
}

.tool-container:hover {
  background-color: variables.$lg-bg-font-color;
  color: variables.$lg-background-color;
  transform: translateY(-5px);
}

.info {
  @include mixins.spaceBetween;
  flex-direction: column;
  text-align: center;
}
.toolNumber {
  font-size: 70px;
  font-weight: bolder;
}
.tool-container h2 {
  margin-bottom: 0.5rem;
}
footer {
  @include mixins.centerPosition;
  background-color: variables.$lg-background-color;
  padding: variables.$base-padding;
  font-size: variables.$header-font-size-md;
  color: variables.$lg-font-color;
  position: absolute;
  bottom: 0;
  width: 100%;
}

//dark theme
.darkTheme {
  background-color: variables.$dark-theme-bg;
}
.darkTheme .sun {
  display: block;
}
.darkTheme .moon {
  display: none;
}
.darkTheme .tool-container {
  color: variables.$dark-font-color;
  background-color: variables.$dark-background-color;
}

.darkTheme .tool-container:hover {
  background-color: variables.$dark-bg-font-color;
  color: variables.$dark-background-color;
}
